.explores {
    .tag {
        text-align: center;
    }
    .t-center {
        margin: 0 auto;
        text-align: center;
    }
    .heading2 {
        @media only screen and (max-width: 1143px) {
            font-size: 40px;
        }
        @media only screen and (max-width: 500px) {
            font-size: 35px;
        }
    }
    .btn__primary {
        text-align: center;
        margin-bottom: 0;
        padding-top: 20px;
        a {
            background-color: $color-primary;
            color: $color-white;
            &:hover {
                background-color: $color-black;
            }
        }
    }
    .card {
        padding: 10px;
        border: 1.5px solid $color-grey;
        margin-bottom: 20px;

        &__img {
            img {
                margin-bottom: 10px;
            }
        }
        .text {
            color: $color-primary;
            margin-bottom: 10px;
        }

        &__price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            h3 {
                font-weight: 600;
                font-size: 22px;
                color: $color-primary;
            }
            a {
                text-decoration: none;
                color: $color-primary;
                border: 1px solid $color-grey;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
                display: inline-block;
                padding: 3px 8px;
            }
        }

        &__btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .btn1 {
                text-decoration: none;
                color: $color-white;
                background-color: $color-primary;
                padding: 3px 8px;
                font-size: 16px;
                transition: all 0.3s;
                &:hover {
                    background-color: $color-black;
                }
            }
            .btn2 {
                text-decoration: none;
                color: $color-primary;
                border: 1px solid $color-grey;
                padding: 3px 8px;
                font-size: 16px;
            }
        }
    }
}

////////// farming section start
.farming {
    background-color: $color-primary;
    &__item {
        margin-bottom: 20px;
        .tag {
            a {
                color: $color-white;
            }
        }
        .heading2 {
            color: $color-white;
        }
    }
    &__img {
        img {
            object-fit: cover;
            height: 550px;
        }
    }
}
////////// farming section ends