////////// header start
.header {
    padding: 20px 0;
    &__wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        .checkbtn {
            font-size: 30px;
            color: $color-black;
            float: right;
            display: none;
        }
        @media only screen and (max-width: 625px) {
            .checkbtn {
                display: block;
            }
        }
    }
    &__start {
        display: flex;
        align-items: center;
        gap: 50px;
        &__logo {
            img {
                width: 150px;
                object-fit: contain;
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            gap: 20px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $color-primary;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        @media only screen and (max-width: 625px) {
            display: none;
            &.mystyle {
                display: flex;
            }
            &__logo {
                img {
                    margin-bottom: 20px;
                }
            }
            &__menu {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }
    }
    &__end {
        ul {
            gap: 30px;
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $color-primary;
                    font-weight: 500;
                    font-size: 16px;
                }
                .header__btn {
                    border: 1px solid $color-primary;
                    padding: 10px 20px;
                    color: $color-primary;
                    transition: all .3s;
                    &:hover {
                        background-color: $color-black;
                        color: $color-white;
                    }
                }
            }
        }
        @media only screen and (max-width: 625px) {
            display: none;

        }
    }
    @media only screen and (max-width: 839px) {
        .header {
            &__wrapper {
                display: block;
            }
            &__start {
                margin-bottom: 20px;
            }
        }
    }
    @media only screen and (max-width: 552px) {
        .header {
            &__start {
               gap: 10px;
            }
        }
    }

    @media only screen and (max-width: 838px) {
        display: flex;
        &__end {
            display: none;
        }
    }
}
////////// header ends