////////// header section start
.header3 {
    &.header {
        background-color: $color-primary-2;
        .header__start {
            ul {
                li {
                    a {
                        color: $color-primary-3;
                    }
                }
            }
        }
        .header__end {
            ul {
                li  {
                    a {
                        color: $color-primary-3;
                    }
                    .header__btn {
                        border: 1px solid $color-primary-3;
                        &:hover {
                            background-color: $color-yellow;
                            color: $color-primary-2;
                        }
                    }
                }
            }
        }
    }
}
////////// header section ends

////////// hero section start
.hero3 {
    &.planted {
        background-image: url("/assets/img/hero3.jpg");
        background-size: cover;
        background-position: center;
        .planted__item {
            .tag {
                a {
                    color: $color-primary-3;
                }
            }
            h1 {
                color: $color-primary-3;
            }
            .text {
                color: $color-primary-3;
            }
            .btn__primary {
                a {
                    background-color: $color-primary-3;
                    &:hover {
                        background-color: $color-primary-2;
                    }
                }
            }
        }
    }
}
////////// hero section ends

////////// blog section start
.blog3 {
    background-color: $color-grey-2;
    &__item {
        position: relative;
        &__icon {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            right: 0;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            background-color: $color-secondary-3;
            a {
                i {
                    color: $color-white;
                }
            }
        }
    }

    &__content {
        padding: 30px 20px;
        &__img {
            margin-bottom: 20px;
            img {
                width: 60px;
            }
        }
        .text {
            color: $color-secondary-3;
        }
        &__star {
            margin-bottom: 20px;
            i {
                color: $color-primary-3;
                margin-right: 5px;
                font-size: 20px;
            }
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
            color: $color-secondary-3;
        }
    }
}
////////// blog section ends

////////// story section start
.story3 {
    background-color: $color-primary-3;
    background-image: url("/assets/img/story3.png");
    background-position: right;
    background-size: 50%;
    background-repeat: no-repeat;
    @media only screen and (max-width: 950px) {
        background-image: none;
    }
    @media only screen and (max-width: 900px) {
        padding: 80px 0px;
    }
    &__img {
        @media only screen and (max-width: 1300px) {
            display: none;
        }
        @media only screen and (max-width: 950px) {
            display: block;
        }
    }

    &__content {
        h1 {
            color: $color-secondary-3;
        }
        @media only screen and (max-width: 900px) {
            padding: 0;
            margin-bottom: 20px;
        }
    }
    .text {
        color: $color-secondary-3;
    }
    .btn__primary {
        a {
            background-color: $color-secondary-3;
            color: $color-white;
            &:hover {
                background-color: $color-secondary;
                color: $color-black;
            }
        }
    }
}
////////// story section ends

////////// explores section start
.explores3 {
    &.explores {
        background-color: #F9F1EC;
        .heading2 {
            color: $color-secondary-3;
        }
        .text {
            color: $color-secondary-3;
        }
        .explores__menu {
            margin-bottom: 30px;
            ul {
                gap: 50px;
                display: flex;
                justify-content: center;
                @media only screen and (max-width: 600px) {
                    gap: 40px;
                }
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $color-secondary-3;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
        .card {
            .text {
                color: $color-secondary-3;
            }

            &__price {
                h3 {
                    color: $color-secondary-3;
                }
                a {
                    color: $color-secondary-3;
                }
            }

            &__btn {
                .btn1 {
                    background-color: $color-secondary-3;
                    &:hover {
                        background-color: $color-secondary;
                        color: $color-black;
                    }
                }
                .btn2 {
                    color: $color-secondary-3;
                }
            }
        }
        .btn__primary {
            a {
                background-color: $color-secondary-3;
                color: $color-white;
                &:hover {
                    background-color: $color-secondary;
                    color: $color-black;
                }
            }
        }
    }
}
////////// explores section ends

////////// about section start
.about3 {
    background-color: $color-secondary-3;
    background-image: url("/assets/img/about3.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    @media only screen and (max-width: 900px) {
        background-image: none;
    }

    &__img {
        display: none;
        @media only screen and (max-width: 889px) {
            display: block;
        }
    }
    &__content {
        padding: 0px 20px;
        h1 {
            color: $color-primary-3;
        }
        .btn__primary {
            a {
                background-color: $color-primary-3;
                &:hover {
                    background-color: $color-secondary;
                    color: $color-black;
                }
            }
        }
    }

    &__item {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        &__logo {
            img {
                width: 30px;
            }
        }
        &__title {
            h3 {
                font-weight: 500;
                font-size: 22px;
                color: $color-primary-3;
                margin-bottom: 5px;
            }
            .text {
                color: $color-primary-3;
            }
        }
    }
}
////////// about section ends

////////// overview section ends
.overview3 {
    background-color: #F9F1EC;
    .tag {
        a {
            color: $color-secondary-3;
        }
    }
    h1 {
        color: $color-secondary-3;
    }
    .text {
        color: $color-secondary-3;
    }

    &__price {
        display: flex;
        gap: 25px;
        h3 {
           font-size: 25px;
           font-weight: 600;
        }
    }
}
////////// overview section ends

////////// customer section start
.customer3 {
    background-color: #F9F1EC;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    &__content {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        &__img {
            margin-bottom: 20px;
            img {
                width: 80px;
            }
        }
        .text1 {
            font-weight: 500;
        }
        .text {
            color: $color-secondary-3;
        }
    }

    &__img {
        margin-bottom: 20px;
    }
    .img3 {
        margin-top: -96px;
        @media only screen and (max-width: 1134px) {
            margin-top: 0;
        }
    }
}
////////// customer section ends

////////// cta section start
.cta3 {
    background-image: url("/assets/img/cta3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 50px;
    @media only screen and (max-width: 630px) {
        padding: 80px 0px;
    }

    &__content {
        margin-right: 20px;
        h1 {
            color: $color-white;
            @media only screen and (max-width: 890px) {
                font-size: 30px;
            }
        }
        .text {
            color: $color-primary-3;
        }
    }
    &__subscribe {
        padding: 50px 30px;
        @media only screen and (max-width: 800px) {
            padding: 50px 0;
        }
        input {
            padding: 15px 20px;
            width: 100%;
            background-color: transparent;
            border: 1px solid $color-primary-3;
            color: $color-primary-3;
            font-size: 16px;
            margin-bottom: 20px; 
            &::placeholder {
                color: $color-primary-3;
            }
            &:focus {
                outline: none;
            }
        }
        .btn__primary {
            a {
                width: 100%;
                text-align: center;
                background-color: $color-primary-3;
                padding: 15px 20px;
                border: 1px solid transparent;
                &:hover {
                    background-color: transparent;
                    color: $color-primary-3;
                    border: 1px solid $color-primary-3;
                }
            }
        }
    }
}
////////// cta section ends

////////// footer section start
.footer3 {
    &.footer {
        background-color: #F9F1EC;
        .text {
            color: $color-secondary-3;
        }
        .footer__item {
            span {
                color: $color-secondary-3;
            }
            ul {
                li {
                    a {
                        color: $color-secondary-3;
                    }
                }
            }
        }

        .footer__bottom {
            border-top: 1px solid $color-secondary-3;
            .footer__text {
                ul {
                    li {
                        a {
                            color: $color-secondary-3;
                        }
                    }
                }
            }
            .footer__copyright {
                p {
                    color: $color-secondary-3;
                }
            }
        }
    }
}
/////////// footer section ends