////////// header section start
.header4 {
    &.header {
        background-color: $color-secondary;
        .header__start {
            &__menu {
                li {
                    a {
                        color: $color-primary-4;
                    }
                }
            }
        }
        .header__end {
            ul {
                li {
                    a {
                        color: $color-primary-4;
                    }
                    .header__btn {
                        border: 1px solid $color-primary-4;
                        &:hover {
                            color: $color-white;
                            border: 1px solid $color-black;
                        }
                    }
                }
            }
        }
    }
}
////////// header section ends

////////// hero section start
.hero4 {
    &.planted {
        background-image: url("/assets/img/background4.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .planted__item {
            .btn__primary {
                a {
                    &:hover {
                        background-color: $color-primary-4;
                    }
                }
            }
        }
    }
}
////////// hero section ends

////////// feature section start
.planted__bottom4 {
    &.planted__bottom {
        background-color: $color-grey-2;
        .planted__card {
            &__icon {
                background-color: $color-secondary;
            }
        }
    }
}
////////// feature section ends

////////// about4 section start
.about4 {
    background-color: $color-secondary;
    &__content {
        padding: 40px 30px;
        h1 {
            color: $color-primary-4;
        }
        .text {
            color: $color-primary-4;
        }
        .btn__primary {
            a {
                background-color: $color-primary-4;
                color: $color-white;
                &:hover {
                    background-color: $color-black;
                }
            }
        }
    }
}
////////// about4 section ends

////////// delivery4 section start
.delivery4 {
    background-color: $color-primary-4;
    &__content {
        h1 {
            color: $color-white;
        }
        .text2 {
            font-weight: 500;
        }
    }
}
////////// delivery4 section ends

////////// works section start
.works {
    background-color: $color-grey-2;
    h1 {
        color: $color-primary-4;
    }
    .text {
        color: $color-primary-4;
    }

    .btn__primary {
        text-align: center;
        a {
            background-color: $color-primary-4;
            color: $color-white;
            &:hover {
                background-color: $color-black;
                color: $color-white;
            }
        }
    }

    .text {
        text-align: center;
    }
    &__item {
        margin-bottom: 20px;
        text-align: center;
        padding: 30px 0;
        &__img {
            img {
                margin-bottom: 20px;
            }
        }
        h3 {
            font-size: 22px;
            color: $color-primary-4;
            font-weight: 500;
        }
        .text {
            color: $color-primary-2;
        }
    }
}
////////// works section ends

////////// blog section start
.blog4 {
    &.blog {
        background-color: $color-grey-2;
    }
}
////////// blog section ends

////////// services section start
.service4 {
    background-color: $color-primary-4;
    &__content {
        padding-left: 40px;
        @media only screen and (max-width: 600px) {
            padding-left: 0;
        }
        h1 {
            color: $color-white;
        }
    }

    &__img {
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        gap: 25px;
        margin-bottom: 25px;
        &__number {
            &__main {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 20px;
                    font-weight: 500;
                    color: $color-black;
                }
            }
        }
        h3 {
            font-weight: 500;
            font-size: 22px;
            color: $color-black;
            margin-bottom: 5px;
            color: $color-white;
        }
        .text {
            margin-bottom: 0;
        }
    }
}
////////// service section ends

////////// food section start
.food {
    background-color: $color-secondary;
    &__main__start {
        display: flex;
        align-items: center;
        justify-content: end;
        @media only screen and (max-width: 600px) {
            justify-content: start;
        }
    }
    &__main {
        padding-top: 40px;
    }
    &__main__end {
        justify-content: start;
        display: flex;
        align-items: center;
    }
    h1 {
        color: $color-primary-4;
    }
    .text {
        color: $color-black;
    }
    &__img {
        img {
            margin-bottom: 20px;
        }
    }
    &__content {
        &__item {
            display: flex;
            gap: 10px;
            justify-content: end;
            margin-bottom: 20px;
            @media only screen and (max-width: 600px) {
                justify-content: start;
            }
            .text {
                margin-bottom: 0;
            }
        }
        .start {
            justify-content: start;
        }
        &__icon {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color-primary-4;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3px;
            i {
                color: $color-white;
                font-size: 14px;
            }
        }
    }
}
////////// food section ends

////////// logo section start
.logo {
    background-color: $color-grey-2;
    h1 {
        color: $color-primary-4;
    }
    .text {
        color: $color-primary-2;
    }

    &__img {
        margin-bottom: 20px;
        width: 150px;
        @media only screen and (max-width: 600px) {
            padding: 0px 100px;
            display: flex;
            justify-content: center;
            img {
                width: 150px;
            }
        }
    }
}
////////// logo section ends

////////// testimonial section start
.testimonial4 {
    background-color: $color-grey-2;
    &__card {
        background-color: $color-primary-4;
        padding: 20px;
        margin-bottom: 20px;
        h3 {
            font-size: 22px;
            font-weight: 500;
            color: $color-white;
            margin-bottom: 10px;
        }
    }
    &__details {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &__title {
        h3 {
            font-size: 18px;
            margin-bottom: 0px;
        }
    }
}
////////// testimonial section ends

////////// blog section start
.blog4 {
    &.blog {
        background-color: #C0E8C0;
        .heading2 {
            color: $color-primary-4;
        }
        .text {
            color: $color-primary-2;
        }
        .pt-40 {
            padding-top: 40px;
        }
        .blog__button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn__primary{
            a {
                background-color: $color-primary-4;
                color: $color-white;
                &:hover {
                    background-color: $color-black;
                }
            }
        }
        .blog__item {
            padding: 20px;
            background-color: $color-grey-2;

            &__time {
                display: flex;
                justify-content: space-between;
                .date {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: $color-black;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .blog__content {
            a {
                background-color: $color-primary-4;
                text-decoration: none;
                color: $color-white;
                padding: 3px 12px;
                font-size: 16px;
                margin-bottom: 10px;
                display: inline-block;
                transition: 0.3s;
                &:hover {
                    background-color: $color-secondary;
                    color: $color-black;
                }
            }
            h3 {
                font-size: 22px;
                font-weight: 500;
            }

        }
    }
}
////////// blog section ends

////////// cta section start
.cta4 {
    &.cta {
        background-image: url("/assets/img/cta4.jpg");
    }
}

////////// cta section ends

////////// gallery section start
.gallery4 {
    background-color: $color-grey-2;
    .heading2 {
        color: $color-primary-4;
    }
    .text {
        color: $color-primary-2;
    }
    .pt-40 {
        padding-top: 40px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn__primary {
            a {
                background-color: $color-primary-4;
                color: $color-white;
                &:hover {
                    background-color: $color-secondary;
                    color: $color-black;
                }
            }
        }
    }
    &__img {
        margin-bottom: 20px;
    }   
}
////////// gallery section ends

////////// footer section start
.footer4 {
    &.footer {
        background-color: $color-primary-4;
        .text {
            color: $color-white;
        }
        
        .footer__item {
            span {
                color: $color-white;
            }
            ul {
                li {
                    a {
                        color: $color-white;
                    }
                }
            }
        }

        .footer__bottom {
            border-top: 1px solid $color-white;
            .footer__text {
                ul {
                    li {
                        a {
                            color: $color-white;
                        }
                    }
                }
            }
            .footer__copyright {
                p {
                    color: $color-white;
                }
            }
        }
    }
}
////////// footer section ends