@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Manrope', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Archivo', sans-serif; }

img {
  width: 100%;
  height: auto;
  display: block; }

.heading1 {
  font-size: 82px;
  font-weight: 700;
  color: #F4F3E8; }

.heading2 {
  color: #102B1F;
  font-weight: 600;
  font-size: 51px;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 20px; }

.heading3 {
  color: #102B1F;
  font-size: 24px;
  font-weight: 500; }

.section-padding1 {
  padding: 70px 0; }

.section-padding2 {
  padding: 80px 0; }

.section-padding3 {
  padding: 50px 0; }

.tag {
  margin-bottom: 10px; }
  .tag a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #102B1F; }

.t-center {
  text-align: center;
  margin: 0 auto; }

.text {
  font-weight: 400;
  font-size: 16px;
  color: #F4F3E8;
  letter-spacing: 0.10px;
  margin-bottom: 20px; }

.btn__primary {
  margin-bottom: 20px; }
  .btn__primary a {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #CFEFDD;
    color: #102B1F;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;
    display: inline-block; }
    .btn__primary a:hover {
      background-color: #1f1f1f;
      color: #F4F3E8; }

.header {
  padding: 20px 0; }
  .header__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between; }
  .header__start {
    display: flex;
    align-items: center;
    gap: 50px; }
    .header__start__logo img {
      width: 150px;
      object-fit: contain; }
    .header__start__menu {
      display: flex;
      align-items: center;
      gap: 20px; }
      .header__start__menu li {
        list-style: none; }
        .header__start__menu li a {
          text-decoration: none;
          color: #102B1F;
          font-size: 16px;
          font-weight: 500; }
  .header__end ul {
    gap: 30px;
    display: flex; }
    .header__end ul li {
      list-style: none; }
      .header__end ul li a {
        text-decoration: none;
        color: #102B1F;
        font-weight: 500;
        font-size: 16px; }
      .header__end ul li .header__btn {
        border: 1px solid #102B1F;
        padding: 10px 20px;
        color: #102B1F;
        transition: all .3s; }
        .header__end ul li .header__btn:hover {
          background-color: #1f1f1f;
          color: #F4F3E8; }
  @media only screen and (max-width: 600px) {
    .header__end {
      display: none; } }
  @media only screen and (max-width: 839px) {
    .header .header__wrapper {
      flex-direction: column;
      display: flex; }
    .header .header__start {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 552px) {
    .header .header__start {
      flex-direction: column;
      gap: 10px; } }

.planted {
  background-image: url("/assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-color: #102B1F; }
  @media only screen and (max-width: 1204px) {
    .planted {
      background-image: none; } }
  .planted__img {
    display: none; }
    @media only screen and (max-width: 1200px) {
      .planted__img {
        display: block; } }
  .planted__item h1 {
    color: #F4F3E8;
    font-weight: 600;
    font-size: 52px;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 30px; }
    @media only screen and (max-width: 1000px) {
      .planted__item h1 {
        font-size: 40px; } }
    @media only screen and (max-width: 508px) {
      .planted__item h1 {
        font-size: 35px; } }
  .planted__item .text {
    margin-bottom: 25px; }
  .planted__item .btn__primary {
    margin-bottom: 30px; }
  .planted__item__tag.tag {
    margin-bottom: 20px; }
    .planted__item__tag.tag a {
      color: #F4F3E8; }

.planted__bottom {
  background-color: #CFEFDD; }
  .planted__bottom .planted__card {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 20px; }
    .planted__bottom .planted__card__icon {
      width: 70px;
      height: 70px;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #f1f1f1;
      margin-right: 20px;
      border-radius: 50%; }
      .planted__bottom .planted__card__icon i {
        font-size: 30px;
        color: #102B1F; }
    .planted__bottom .planted__card__text h3 {
      font-size: 20px;
      font-weight: 600;
      color: #102B1F; }
    .planted__bottom .planted__card__text .text {
      color: #102B1F;
      margin-bottom: 0; }
    @media only screen and (max-width: 899px) {
      .planted__bottom .planted__card {
        margin-bottom: 20px; } }

.about__content {
  padding: 40px 40px; }
  @media only screen and (max-width: 873px) {
    .about__content h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 605px) {
    .about__content h1 {
      font-size: 26px;
      margin-bottom: 10px; } }

.about__text {
  color: #102B1F; }

.about .btn__primary a {
  background-color: #102B1F;
  color: #F4F3E8; }
  .about .btn__primary a:hover {
    background-color: #CFEFDD;
    color: #1f1f1f; }

.chooseus {
  background-color: #102B1F; }
  .chooseus .tag a {
    color: #F4F3E8; }
  .chooseus .heading2 {
    color: #F4F3E8; }

.mission {
  background-color: #CFEFDD; }
  .mission .tag {
    text-align: center; }
  @media only screen and (max-width: 1198px) {
    .mission .heading2 {
      font-size: 40px; } }
  @media only screen and (max-width: 927px) {
    .mission .heading2 {
      font-size: 35px; } }
  @media only screen and (max-width: 589px) {
    .mission .heading2 {
      font-size: 28px; } }
  .mission .btn__primary {
    text-align: center;
    margin-bottom: 40px; }
    .mission .btn__primary a {
      background-color: #102B1F;
      color: #F4F3E8; }
      .mission .btn__primary a:hover {
        background-color: #1f1f1f; }
  .mission__content {
    padding: 30px; }
  .mission__img {
    margin-bottom: 20px; }
  .mission__title {
    font-size: 20px;
    font-weight: 600;
    color: #102B1F;
    margin-bottom: 15px; }
  .mission .text {
    color: #102B1F; }

.explores .tag {
  text-align: center; }

@media only screen and (max-width: 1143px) {
  .explores .heading2 {
    font-size: 40px; } }

@media only screen and (max-width: 500px) {
  .explores .heading2 {
    font-size: 35px; } }

.explores .btn__primary {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px; }
  .explores .btn__primary a {
    background-color: #102B1F;
    color: #F4F3E8; }
    .explores .btn__primary a:hover {
      background-color: #1f1f1f; }

.explores .card {
  padding: 10px;
  border: 1.5px solid #ddd;
  margin-bottom: 20px; }
  .explores .card__img img {
    margin-bottom: 10px; }
  .explores .card .text {
    color: #102B1F;
    margin-bottom: 10px; }
  .explores .card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .explores .card__price h3 {
      font-weight: 600;
      font-size: 22px;
      color: #102B1F; }
    .explores .card__price a {
      text-decoration: none;
      color: #102B1F;
      border: 1px solid #ddd;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      padding: 3px 8px; }
  .explores .card__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .explores .card__btn .btn1 {
      text-decoration: none;
      color: #F4F3E8;
      background-color: #102B1F;
      padding: 3px 8px;
      font-size: 16px;
      transition: all 0.3s; }
      .explores .card__btn .btn1:hover {
        background-color: #1f1f1f; }
    .explores .card__btn .btn2 {
      text-decoration: none;
      color: #102B1F;
      border: 1px solid #ddd;
      padding: 3px 8px;
      font-size: 16px; }

.farming {
  background-color: #102B1F; }
  .farming__item {
    margin-bottom: 20px; }
    .farming__item .tag a {
      color: #F4F3E8; }
    .farming__item .heading2 {
      color: #F4F3E8; }
  .farming__img img {
    object-fit: cover;
    height: 550px; }

.feature {
  background-image: url("/assets/img/features.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .feature .tag {
    text-align: center; }
  .feature .heading2 {
    text-align: center;
    margin-bottom: 30px; }
  .feature__item {
    text-align: center;
    margin-bottom: 30px; }
    .feature__item__icon {
      justify-content: center;
      display: flex;
      margin-bottom: 15px;
      gap: 6px; }
      .feature__item__icon i {
        color: #102B1F; }
    .feature__item .text {
      color: #102B1F;
      margin-bottom: 15px; }
    .feature__item__details h3 {
      font-weight: 600;
      font-size: 22px;
      color: #102B1F; }
    .feature__item__details span {
      font-weight: 500;
      font-size: 16px;
      color: #102B1F; }

.blog {
  background-color: #CFEFDD; }
  .blog__heading .heading2 {
    margin-bottom: 45px; }
    @media only screen and (max-width: 663px) {
      .blog__heading .heading2 {
        font-size: 40px; } }
  .blog__item {
    margin-bottom: 20px; }
    .blog__item img {
      width: 100%;
      margin-bottom: 20px; }
    .blog__item h3 {
      font-size: 25px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 10px;
      color: #102B1F; }
    .blog__item .text {
      color: #102B1F;
      margin-bottom: 0; }

.cta {
  background-image: url("/assets/img/cta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover; }
  .cta__item {
    text-align: center;
    margin: 0 auto; }
    .cta__item .heading2 {
      color: #F4F3E8; }
    .cta__item .text {
      margin-bottom: 30px; }

.footer {
  padding-top: 80px; }
  .footer__logo img {
    width: 150px;
    margin-bottom: 20px; }
  .footer .text {
    color: #102B1F; }
  .footer__main {
    display: flex;
    gap: 100px;
    margin-bottom: 20px; }
  .footer__item span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #102B1F;
    display: block; }
  .footer__item ul li {
    list-style: none; }
    .footer__item ul li:not(:last-child) {
      margin-bottom: 10px; }
    .footer__item ul li a {
      text-decoration: none;
      font-size: 18px;
      color: #102B1F;
      font-weight: 400; }
  .footer__bottom {
    border-top: 1px solid #102B1F;
    padding: 30px 0px; }
  .footer__text ul {
    display: flex; }
    .footer__text ul li {
      list-style: none;
      margin-right: 20px; }
      .footer__text ul li a {
        text-decoration: none;
        color: #102B1F;
        font-size: 18px;
        font-weight: 400; }
  .footer__copyright {
    font-size: 18px;
    color: #102B1F;
    font-weight: 400;
    text-align: end; }
    @media only screen and (max-width: 900px) {
      .footer__copyright {
        text-align: start; } }

.header2.header {
  background-color: #fbf4eb; }
  .header2.header .header__start__menu li a {
    color: #30312C; }

.hero2.planted {
  background-image: url("/assets/img/hero2.jpg");
  background-color: #DFE8C0; }
  @media only screen and (max-width: 1204px) {
    .hero2.planted {
      background-image: none; } }
  .hero2.planted__img {
    display: none; }
    @media only screen and (max-width: 1200px) {
      .hero2.planted__img {
        display: block; } }
  .hero2.planted .planted__item h1 {
    color: #30312C; }
  .hero2.planted .planted__item__tag.tag a {
    color: #30312C; }
  .hero2.planted .planted__item .btn__primary a {
    background-color: #30312C;
    color: #F4F3E8; }
    .hero2.planted .planted__item .btn__primary a:hover {
      background-color: #E4E458;
      color: #1f1f1f; }
  .hero2.planted .planted__item .text {
    color: #30312C; }

.feature2.feature {
  background-image: none;
  background-color: #fbf4eb; }
  .feature2.feature .feature__item__icon i {
    color: #FFC21F; }
  .feature2.feature .feature__item .text {
    color: #30312C; }
  .feature2.feature .feature__item__details h3 {
    color: #30312C; }
  .feature2.feature .feature__item__details span {
    color: #30312C; }

.about2.about {
  background-color: #30312C; }
  .about2.about .about__content {
    color: #F4F3E8; }
    .about2.about .about__content h1 {
      color: #F4F3E8; }
      @media only screen and (max-width: 873px) {
        .about2.about .about__content h1 {
          font-size: 40px; } }
      @media only screen and (max-width: 605px) {
        .about2.about .about__content h1 {
          font-size: 26px;
          margin-bottom: 10px; } }
    .about2.about .about__content .tag a {
      color: #F4F3E8; }
  .about2.about .about__text {
    color: #F4F3E8; }
  .about2.about .btn__primary a {
    background-color: #E4E458;
    color: #1f1f1f; }
    .about2.about .btn__primary a:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }

.mission2.mission {
  background-color: #fbf4eb; }
  .mission2.mission h1 {
    color: #30312C; }
  .mission2.mission .text {
    color: #30312C; }

.cta2.cta {
  background-image: url("/assets/img/cta2.jpg"); }
  .cta2.cta .cta__item .heading2 {
    color: #30312C; }
  @media only screen and (max-width: 600px) {
    .cta2.cta .cta__item h1 {
      font-size: 35px; } }
  .cta2.cta .cta__item .text {
    color: #30312C; }
  .cta2.cta .cta__item .btn__primary a {
    background-color: #30312C;
    color: #F4F3E8; }
    .cta2.cta .cta__item .btn__primary a:hover {
      background-color: #E4E458;
      color: #1f1f1f; }

.service2 {
  background-color: #fbf4eb; }
  .service2__text h1 {
    color: #30312C; }
  .service2__text .text {
    color: #30312C; }
  .service2__text .btn__primary a {
    background-color: #30312C;
    color: #F4F3E8; }
    .service2__text .btn__primary a:hover {
      background-color: #E4E458;
      color: #1f1f1f; }
  .service2__item {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    background-color: #DFE8C0; }
    .service2__item__number__main {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #F4F3E8; }
      .service2__item__number__main span {
        font-size: 18px;
        font-weight: 500;
        color: #30312C; }
    .service2__item__text h3 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
      color: #30312C; }
    .service2__item__text .text {
      color: #30312C;
      margin-bottom: 0; }

.chooseus2.chooseus {
  background-color: #30312C; }
  @media only screen and (max-width: 743px) {
    .chooseus2.chooseus h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 600px) {
    .chooseus2.chooseus h1 {
      font-size: 35px; } }
  .chooseus2.chooseus .btn__primary a {
    background-color: #E4E458;
    color: #1f1f1f; }
    .chooseus2.chooseus .btn__primary a:hover {
      background-color: #DFE8C0; }
  .chooseus2.chooseus .chooseus__item {
    display: flex;
    margin-bottom: 20px; }
    .chooseus2.chooseus .chooseus__item__icon i {
      color: #F4F3E8;
      margin-right: 10px;
      font-size: 20px; }
    .chooseus2.chooseus .chooseus__item__text h3 {
      margin: 0;
      color: #F4F3E8;
      margin-bottom: 10px; }
    .chooseus2.chooseus .chooseus__item__text .text {
      margin-bottom: 0; }
    .chooseus2.chooseus .chooseus__item__main {
      padding: 20px 0; }

.testimonial2 {
  background-color: #DFE8C0; }
  .testimonial2 .tag {
    text-align: center;
    color: #30312C; }
  .testimonial2 h1 {
    text-align: center;
    color: #30312C; }
  .testimonial2__item {
    display: flex;
    gap: 30px;
    background-color: #fbf4eb;
    padding: 10px;
    margin-bottom: 20px; }
    .testimonial2__item__img {
      position: relative; }
      .testimonial2__item__img img {
        height: 191px;
        object-fit: cover;
        max-height: 191px; }
    .testimonial2__item__icon {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      right: 0;
      top: 50%;
      border-radius: 50%;
      background-color: #F4F3E8;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      .testimonial2__item__icon a i {
        font-size: 16px;
        color: #1f1f1f; }
    .testimonial2__item__main h3 {
      color: #30312C;
      font-size: 20px;
      font-weight: 500; }
    .testimonial2__item__main .text {
      color: #30312C;
      margin-bottom: 10px; }
    .testimonial2__item__details h3 {
      font-size: 18px;
      font-weight: 500;
      color: #30312C; }
    .testimonial2__item__star {
      margin-bottom: 10px; }
      .testimonial2__item__star i {
        color: #FFC21F; }

.recipes {
  background-color: #fbf4eb; }
  .recipes .tag a {
    color: #30312C; }
  .recipes h1 {
    color: #30312C; }
    @media only screen and (max-width: 976px) {
      .recipes h1 {
        font-size: 45px; } }
    @media only screen and (max-width: 976px) {
      .recipes h1 {
        font-size: 40px; } }
    @media only screen and (max-width: 588px) {
      .recipes h1 {
        font-size: 35px; } }
  .recipes__item {
    margin-bottom: 20px; }
    .recipes__item__name h3 {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      padding: 5px 0px;
      color: #30312C;
      background-color: #DFE8C0; }

.culinary {
  background-color: #30312C; }
  .culinary .tag a {
    color: #F4F3E8; }
  .culinary h1 {
    color: #F4F3E8; }
  .culinary .btn__primary a {
    background-color: #E4E458;
    color: #1f1f1f; }
    .culinary .btn__primary a:hover {
      background-color: #DFE8C0; }

.working {
  background-color: #fbf4eb; }
  .working h1 {
    color: #30312C; }
    @media only screen and (max-width: 777px) {
      .working h1 {
        font-size: 40px; } }
  .working .text {
    color: #30312C; }
  .working__item {
    background-color: #DFE8C0;
    padding: 25px 15px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 600px) {
      .working__item {
        text-align: center; } }
    .working__item__main {
      padding: 30px 0px; }
    .working__item__icon {
      margin-bottom: 10px; }
      .working__item__icon i {
        font-size: 35px;
        color: #30312C; }
    .working__item h3 {
      color: #30312C;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 10px; }
    .working__item .text {
      margin-bottom: 0; }
  .working .btn__primary {
    text-align: center; }
    .working .btn__primary a {
      background-color: #30312C;
      color: #F4F3E8; }
      .working .btn__primary a:hover {
        background-color: #CFEFDD;
        color: #1f1f1f; }

.contact {
  background-color: #30312C; }
  .contact__main .tag a {
    color: #F4F3E8; }
  .contact__main h1 {
    color: #F4F3E8; }
    @media only screen and (max-width: 600px) {
      .contact__main h1 {
        font-size: 34px; } }
  .contact__main .contact__form {
    padding-right: 30px; }
    @media only screen and (max-width: 600px) {
      .contact__main .contact__form {
        padding-right: 0px; } }
    .contact__main .contact__form input {
      background-color: transparent;
      color: #F4F3E8;
      border: none;
      border-bottom: 1px solid #F4F3E8;
      width: 100%;
      padding: 8px 10px;
      font-size: 16px;
      margin-bottom: 30px; }
      .contact__main .contact__form input::placeholder {
        color: #F4F3E8; }
      .contact__main .contact__form input:focus {
        outline: none; }
    .contact__main .contact__form .contact__name {
      display: flex;
      gap: 30px; }
    .contact__main .contact__form .contact__email {
      display: flex;
      gap: 30px; }
    .contact__main .contact__form .contact__checkbox input {
      width: auto;
      margin-right: 5px; }
    .contact__main .contact__form .contact__checkbox label {
      color: #F4F3E8; }
    .contact__main .contact__form .btn__primary a {
      background-color: #E4E458; }
      .contact__main .contact__form .btn__primary a:hover {
        background-color: #DFE8C0;
        color: #1f1f1f; }
  .contact__map iframe {
    width: 100%;
    height: 610px;
    max-height: 610px; }

.footer2.footer {
  background-image: url("/assets/img/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .footer2.footer .text {
    color: #F4F3E8; }
  .footer2.footer .footer__main .footer__item span {
    color: #F4F3E8; }
  .footer2.footer .footer__main .footer__item ul li a {
    color: #F4F3E8; }
  .footer2.footer .footer__bottom {
    border-top: 1px solid #F4F3E8; }
    .footer2.footer .footer__bottom .footer__text ul li a {
      color: #F4F3E8; }
    .footer2.footer .footer__bottom .footer__copyright p {
      color: #F4F3E8; }

.header3.header {
  background-color: #30312C; }
  .header3.header .header__start ul li a {
    color: #FEE5D8; }
  .header3.header .header__end ul li a {
    color: #FEE5D8; }
  .header3.header .header__end ul li .header__btn {
    border: 1px solid #FEE5D8; }
    .header3.header .header__end ul li .header__btn:hover {
      background-color: #E4E458;
      color: #30312C; }

.hero3.planted {
  background-image: url("/assets/img/hero3.jpg");
  background-size: cover;
  background-position: center; }
  .hero3.planted .planted__item .tag a {
    color: #FEE5D8; }
  .hero3.planted .planted__item h1 {
    color: #FEE5D8; }
  .hero3.planted .planted__item .text {
    color: #FEE5D8; }
  .hero3.planted .planted__item .btn__primary a {
    background-color: #FEE5D8; }
    .hero3.planted .planted__item .btn__primary a:hover {
      background-color: #30312C; }

.blog3 {
  background-color: #fbf4eb; }
  .blog3__item {
    position: relative; }
    .blog3__item__icon {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      right: 0;
      top: 50%;
      border-radius: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #302823; }
      .blog3__item__icon a i {
        color: #F4F3E8; }
  .blog3__content {
    padding: 30px 20px; }
    .blog3__content__img {
      margin-bottom: 20px; }
      .blog3__content__img img {
        width: 60px; }
    .blog3__content .text {
      color: #302823; }
    .blog3__content__star {
      margin-bottom: 20px; }
      .blog3__content__star i {
        color: #FEE5D8;
        margin-right: 5px;
        font-size: 20px; }
    .blog3__content h3 {
      font-size: 20px;
      font-weight: 500;
      color: #302823; }

.story3 {
  background-color: #FEE5D8;
  background-image: url("/assets/img/story3.png");
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 950px) {
    .story3 {
      background-image: none; } }
  @media only screen and (max-width: 900px) {
    .story3 {
      padding: 80px 0px; } }
  @media only screen and (max-width: 1300px) {
    .story3__img {
      display: none; } }
  @media only screen and (max-width: 950px) {
    .story3__img {
      display: block; } }
  .story3__content h1 {
    color: #302823; }
  @media only screen and (max-width: 900px) {
    .story3__content {
      padding: 0;
      margin-bottom: 20px; } }
  .story3 .text {
    color: #302823; }
  .story3 .btn__primary a {
    background-color: #302823;
    color: #F4F3E8; }
    .story3 .btn__primary a:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }

.explores3.explores {
  background-color: #F9F1EC; }
  .explores3.explores .heading2 {
    color: #302823; }
  .explores3.explores .text {
    color: #302823; }
  .explores3.explores .explores__menu {
    margin-bottom: 30px; }
    .explores3.explores .explores__menu ul {
      gap: 50px;
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 600px) {
        .explores3.explores .explores__menu ul {
          gap: 40px; } }
      .explores3.explores .explores__menu ul li {
        list-style: none; }
        .explores3.explores .explores__menu ul li a {
          text-decoration: none;
          color: #302823;
          font-size: 18px;
          font-weight: 500; }
  .explores3.explores .card .text {
    color: #302823; }
  .explores3.explores .card__price h3 {
    color: #302823; }
  .explores3.explores .card__price a {
    color: #302823; }
  .explores3.explores .card__btn .btn1 {
    background-color: #302823; }
    .explores3.explores .card__btn .btn1:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }
  .explores3.explores .card__btn .btn2 {
    color: #302823; }
  .explores3.explores .btn__primary a {
    background-color: #302823;
    color: #F4F3E8; }
    .explores3.explores .btn__primary a:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }

.about3 {
  background-color: #302823;
  background-image: url("/assets/img/about3.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left; }
  @media only screen and (max-width: 900px) {
    .about3 {
      background-image: none; } }
  .about3__img {
    display: none; }
    @media only screen and (max-width: 889px) {
      .about3__img {
        display: block; } }
  .about3__content {
    padding: 0px 20px; }
    .about3__content h1 {
      color: #FEE5D8; }
    .about3__content .btn__primary a {
      background-color: #FEE5D8; }
      .about3__content .btn__primary a:hover {
        background-color: #CFEFDD;
        color: #1f1f1f; }
  .about3__item {
    display: flex;
    gap: 20px;
    margin-bottom: 20px; }
    .about3__item__logo img {
      width: 30px; }
    .about3__item__title h3 {
      font-weight: 500;
      font-size: 22px;
      color: #FEE5D8;
      margin-bottom: 5px; }
    .about3__item__title .text {
      color: #FEE5D8; }

.overview3 {
  background-color: #F9F1EC; }
  .overview3 .tag a {
    color: #302823; }
  .overview3 h1 {
    color: #302823; }
  .overview3 .text {
    color: #302823; }
  .overview3__price {
    display: flex;
    gap: 25px; }
    .overview3__price h3 {
      font-size: 25px;
      font-weight: 600; }

.customer3 {
  background-color: #F9F1EC; }
  .customer3 h1 {
    text-align: center;
    margin-bottom: 30px; }
  .customer3__content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; }
    .customer3__content__img {
      margin-bottom: 20px; }
      .customer3__content__img img {
        width: 80px; }
    .customer3__content .text1 {
      font-weight: 500; }
    .customer3__content .text {
      color: #302823; }
  .customer3__img {
    margin-bottom: 20px; }
  .customer3 .img3 {
    margin-top: -96px; }
    @media only screen and (max-width: 1134px) {
      .customer3 .img3 {
        margin-top: 0; } }

.cta3 {
  background-image: url("/assets/img/cta3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 50px; }
  @media only screen and (max-width: 630px) {
    .cta3 {
      padding: 80px 0px; } }
  .cta3__content {
    margin-right: 20px; }
    .cta3__content h1 {
      color: #F4F3E8; }
      @media only screen and (max-width: 890px) {
        .cta3__content h1 {
          font-size: 30px; } }
    .cta3__content .text {
      color: #FEE5D8; }
  .cta3__subscribe {
    padding: 50px 30px; }
    @media only screen and (max-width: 800px) {
      .cta3__subscribe {
        padding: 50px 0; } }
    .cta3__subscribe input {
      padding: 15px 20px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #FEE5D8;
      color: #FEE5D8;
      font-size: 16px;
      margin-bottom: 20px; }
      .cta3__subscribe input::placeholder {
        color: #FEE5D8; }
      .cta3__subscribe input:focus {
        outline: none; }
    .cta3__subscribe .btn__primary a {
      width: 100%;
      text-align: center;
      background-color: #FEE5D8;
      padding: 15px 20px;
      border: 1px solid transparent; }
      .cta3__subscribe .btn__primary a:hover {
        background-color: transparent;
        color: #FEE5D8;
        border: 1px solid #FEE5D8; }

.footer3.footer {
  background-color: #F9F1EC; }
  .footer3.footer .text {
    color: #302823; }
  .footer3.footer .footer__item span {
    color: #302823; }
  .footer3.footer .footer__item ul li a {
    color: #302823; }
  .footer3.footer .footer__bottom {
    border-top: 1px solid #302823; }
    .footer3.footer .footer__bottom .footer__text ul li a {
      color: #302823; }
    .footer3.footer .footer__bottom .footer__copyright p {
      color: #302823; }

.header4.header {
  background-color: #CFEFDD; }
  .header4.header .header__start__menu li a {
    color: #004E35; }
  .header4.header .header__end ul li a {
    color: #004E35; }
  .header4.header .header__end ul li .header__btn {
    border: 1px solid #004E35; }
    .header4.header .header__end ul li .header__btn:hover {
      color: #F4F3E8;
      border: 1px solid #1f1f1f; }

.hero4.planted {
  background-image: url("/assets/img/background4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero4.planted .planted__item .btn__primary a:hover {
    background-color: #004E35; }

.planted__bottom4.planted__bottom {
  background-color: #fbf4eb; }
  .planted__bottom4.planted__bottom .planted__card__icon {
    background-color: #CFEFDD; }

.about4 {
  background-color: #CFEFDD; }
  .about4__content {
    padding: 40px 30px; }
    .about4__content h1 {
      color: #004E35; }
    .about4__content .text {
      color: #004E35; }
    .about4__content .btn__primary a {
      background-color: #004E35;
      color: #F4F3E8; }
      .about4__content .btn__primary a:hover {
        background-color: #1f1f1f; }

.delivery4 {
  background-color: #004E35; }
  .delivery4__content h1 {
    color: #F4F3E8; }
  .delivery4__content .text2 {
    font-weight: 500; }

.works {
  background-color: #fbf4eb; }
  .works h1 {
    color: #004E35; }
  .works .text {
    color: #004E35; }
  .works .btn__primary {
    text-align: center; }
    .works .btn__primary a {
      background-color: #004E35;
      color: #F4F3E8; }
      .works .btn__primary a:hover {
        background-color: #1f1f1f;
        color: #F4F3E8; }
  .works .text {
    text-align: center; }
  .works__item {
    margin-bottom: 20px;
    text-align: center;
    padding: 30px 0; }
    .works__item__img img {
      margin-bottom: 20px; }
    .works__item h3 {
      font-size: 22px;
      color: #004E35;
      font-weight: 500; }
    .works__item .text {
      color: #30312C; }

.blog4.blog {
  background-color: #fbf4eb; }

.service4 {
  background-color: #004E35; }
  .service4__content {
    padding-left: 40px; }
    @media only screen and (max-width: 600px) {
      .service4__content {
        padding-left: 0; } }
    .service4__content h1 {
      color: #F4F3E8; }
  .service4__img {
    margin-bottom: 20px; }
  .service4__item {
    display: flex;
    gap: 25px;
    margin-bottom: 25px; }
    .service4__item__number__main {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #F4F3E8;
      display: flex;
      justify-content: center;
      align-items: center; }
      .service4__item__number__main span {
        font-size: 20px;
        font-weight: 500;
        color: #1f1f1f; }
    .service4__item h3 {
      font-weight: 500;
      font-size: 22px;
      color: #1f1f1f;
      margin-bottom: 5px;
      color: #F4F3E8; }
    .service4__item .text {
      margin-bottom: 0; }

.food {
  background-color: #CFEFDD; }
  .food__main__start {
    display: flex;
    align-items: center;
    justify-content: end; }
    @media only screen and (max-width: 600px) {
      .food__main__start {
        justify-content: start; } }
  .food__main {
    padding-top: 40px; }
  .food__main__end {
    justify-content: start;
    display: flex;
    align-items: center; }
  .food h1 {
    color: #004E35; }
  .food .text {
    color: #1f1f1f; }
  .food__img img {
    margin-bottom: 20px; }
  .food__content__item {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 20px; }
    @media only screen and (max-width: 600px) {
      .food__content__item {
        justify-content: start; } }
    .food__content__item .text {
      margin-bottom: 0; }
  .food__content .start {
    justify-content: start; }
  .food__content__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #004E35;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px; }
    .food__content__icon i {
      color: #F4F3E8;
      font-size: 14px; }

.logo {
  background-color: #fbf4eb; }
  .logo h1 {
    color: #004E35; }
  .logo .text {
    color: #30312C; }
  .logo__img {
    margin-bottom: 20px;
    width: 150px; }
    @media only screen and (max-width: 600px) {
      .logo__img {
        padding: 0px 100px;
        display: flex;
        justify-content: center; }
        .logo__img img {
          width: 150px; } }

.testimonial4 {
  background-color: #fbf4eb; }
  .testimonial4__card {
    background-color: #004E35;
    padding: 20px;
    margin-bottom: 20px; }
    .testimonial4__card h3 {
      font-size: 22px;
      font-weight: 500;
      color: #F4F3E8;
      margin-bottom: 10px; }
  .testimonial4__details {
    display: flex;
    align-items: center;
    gap: 20px; }
    .testimonial4__details img {
      width: 60px;
      height: 60px; }
  .testimonial4__title h3 {
    font-size: 18px;
    margin-bottom: 0px; }

.blog4.blog {
  background-color: #C0E8C0; }
  .blog4.blog .heading2 {
    color: #004E35; }
  .blog4.blog .text {
    color: #30312C; }
  .blog4.blog .pt-40 {
    padding-top: 40px; }
  .blog4.blog .blog__button {
    display: flex;
    align-items: center;
    justify-content: center; }
  .blog4.blog .btn__primary a {
    background-color: #004E35;
    color: #F4F3E8; }
    .blog4.blog .btn__primary a:hover {
      background-color: #1f1f1f; }
  .blog4.blog .blog__item {
    padding: 20px;
    background-color: #fbf4eb; }
    .blog4.blog .blog__item__time {
      display: flex;
      justify-content: space-between; }
      .blog4.blog .blog__item__time .date {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #1f1f1f;
        font-size: 16px;
        font-weight: 400; }
  .blog4.blog .blog__content a {
    background-color: #004E35;
    text-decoration: none;
    color: #F4F3E8;
    padding: 3px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s; }
    .blog4.blog .blog__content a:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }
  .blog4.blog .blog__content h3 {
    font-size: 22px;
    font-weight: 500; }

.cta4.cta {
  background-image: url("/assets/img/cta4.jpg"); }

.gallery4 {
  background-color: #fbf4eb; }
  .gallery4 .heading2 {
    color: #004E35; }
  .gallery4 .text {
    color: #30312C; }
  .gallery4 .pt-40 {
    padding-top: 40px; }
  .gallery4__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    .gallery4__button .btn__primary a {
      background-color: #004E35;
      color: #F4F3E8; }
      .gallery4__button .btn__primary a:hover {
        background-color: #CFEFDD;
        color: #1f1f1f; }
  .gallery4__img {
    margin-bottom: 20px; }

.footer4.footer {
  background-color: #004E35; }
  .footer4.footer .text {
    color: #F4F3E8; }
  .footer4.footer .footer__item span {
    color: #F4F3E8; }
  .footer4.footer .footer__item ul li a {
    color: #F4F3E8; }
  .footer4.footer .footer__bottom {
    border-top: 1px solid #F4F3E8; }
    .footer4.footer .footer__bottom .footer__text ul li a {
      color: #F4F3E8; }
    .footer4.footer .footer__bottom .footer__copyright p {
      color: #F4F3E8; }

.header5.header {
  background-color: #2E382C; }
  .header5.header .header__start__logo img {
    width: 100%; }
  .header5.header .header__start__menu li a {
    color: #F4F3E8; }
  .header5.header .header__end ul li a {
    color: #F4F3E8; }
  .header5.header .header__end ul li .header__btn {
    border: 1px solid #F4F3E8; }
    .header5.header .header__end ul li .header__btn:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }

.hero5.planted {
  background-color: #FEFAF0;
  background-image: url("/assets/img/hero5.jpg"); }
  @media only screen and (max-width: 900px) {
    .hero5.planted {
      background-image: none; } }
  .hero5.planted .planted__item .tag a {
    color: #1f1f1f; }
  .hero5.planted .planted__item h1 {
    color: #004E35; }
  .hero5.planted .planted__item .text {
    color: #1f1f1f; }
  .hero5.planted .planted__item .btn__primary a {
    background-color: #FF6737;
    color: #F4F3E8; }
    .hero5.planted .planted__item .btn__primary a:hover {
      background-color: #004E35; }
  .hero5.planted .planted__img img {
    display: none; }
    @media only screen and (max-width: 901px) {
      .hero5.planted .planted__img img {
        display: block; } }

.customer5 {
  background-image: url("/assets/img/customer4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .customer5__img {
    margin-right: 20px; }
  .customer5__content {
    margin-left: 20px;
    padding: 30px 0px; }
    .customer5__content__img {
      margin-bottom: 20px; }
      .customer5__content__img img {
        width: 50px; }
    .customer5__content .text {
      font-weight: 400;
      font-size: 16px; }
    .customer5__content p {
      color: #F4F3E8;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 18px; }
  .customer5__main {
    padding: 0px 70px; }

.about5.about {
  background-color: #FEFAF0; }
  .about5.about .about__content {
    padding: 50px 0px; }
    .about5.about .about__content .tag a {
      color: #1f1f1f; }
    .about5.about .about__content .text {
      color: #1f1f1f; }
    .about5.about .about__content .btn__primary a {
      background-color: #FF6737;
      color: #F4F3E8; }
      .about5.about .about__content .btn__primary a:hover {
        background-color: #1f1f1f; }

.service5.service {
  background-color: #FEFAF0; }
  .service5.service .tag a {
    color: #1f1f1f; }
  @media only screen and (max-width: 600px) {
    .service5.service .heading2 {
      font-size: 40px; } }
  .service5.service .text {
    color: #1f1f1f; }
  .service5.service .service__main {
    padding: 40px 0px; }
  .service5.service .btn__primary a {
    background-color: #FF6737;
    color: #F4F3E8; }
    .service5.service .btn__primary a:hover {
      background-color: #1f1f1f; }
  .service5.service .service__item {
    padding: 20px;
    border: 1px solid #1f1f1f;
    background-color: #fff;
    margin-bottom: 20px; }
    .service5.service .service__item__logo {
      margin-bottom: 20px; }
      .service5.service .service__item__logo img {
        width: 50px; }
    .service5.service .service__item h3 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 10px; }

.chooseus5.chooseus {
  background-color: #2E382C; }
  @media only screen and (max-width: 600px) {
    .chooseus5.chooseus .heading2 {
      font-size: 40px; } }
  .chooseus5.chooseus .chooseus__item {
    position: relative; }
    .chooseus5.chooseus .chooseus__item__img {
      margin-bottom: 20px; }
    .chooseus5.chooseus .chooseus__item__icon {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      right: 0;
      top: 50%;
      border-radius: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #fff; }
      .chooseus5.chooseus .chooseus__item__icon a i {
        color: #1f1f1f;
        font-size: 20px; }
  .chooseus5.chooseus .chooseus__content {
    margin-left: 20px; }
    .chooseus5.chooseus .chooseus__content__item {
      margin-bottom: 20px; }
      .chooseus5.chooseus .chooseus__content__item h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #F4F3E8; }
    .chooseus5.chooseus .chooseus__content .btn__primary a {
      background-color: #FF6737;
      color: #F4F3E8; }
      .chooseus5.chooseus .chooseus__content .btn__primary a:hover {
        background-color: #CFEFDD;
        color: #1f1f1f; }

.testimonial5.testimonial .testimonial__item {
  padding: 20px;
  border: 1px solid #1f1f1f;
  background-color: #fff;
  margin-bottom: 20px; }
  .testimonial5.testimonial .testimonial__item h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px; }
  .testimonial5.testimonial .testimonial__item__icon {
    display: flex;
    gap: 7px;
    margin-bottom: 10px; }
    .testimonial5.testimonial .testimonial__item__icon i {
      color: #FFB800; }
  .testimonial5.testimonial .testimonial__item .text {
    color: #1f1f1f; }

.testimonial5.testimonial .testimonial__details {
  display: flex;
  align-items: center;
  gap: 10px; }
  .testimonial5.testimonial .testimonial__details img {
    width: 40px; }
  .testimonial5.testimonial .testimonial__details h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0; }

.culinary5.culinary {
  background-color: #2E382C; }
  @media only screen and (max-width: 600px) {
    .culinary5.culinary .heading2 {
      font-size: 40px; } }
  .culinary5.culinary .culinary__img {
    margin-bottom: 20px; }

.team5.team {
  background-color: #FEFAF0; }
  @media only screen and (max-width: 600px) {
    .team5.team .heading2 {
      font-size: 30px; } }
  .team5.team .team__item {
    margin-bottom: 20px; }
    .team5.team .team__item__content {
      padding: 20px;
      border: 1.5px solid #ddd; }
      .team5.team .team__item__content h3 {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500; }
      .team5.team .team__item__content .text {
        color: #1f1f1f;
        margin-bottom: 0; }

.cta5.cta {
  background-image: url("/assets/img/cta5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .cta5.cta .heading2 {
    color: #F4F3E8; }
    @media only screen and (max-width: 600px) {
      .cta5.cta .heading2 {
        font-size: 40px; } }
  .cta5.cta .btn__primary a {
    background-color: #FF6737;
    color: #F4F3E8; }
    .cta5.cta .btn__primary a:hover {
      background-color: #CFEFDD;
      color: #1f1f1f; }

.footer5.footer {
  background-color: #FEFAF0; }
